@model BookingHotel.Models.EmployeeSchedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Task Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskname)
        </dd>
        <dt class="col-sm-2">
            Slot
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot)
        </dd>
        <dt class="col-sm-2">
            Employee
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            Shift Start Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftStartTime)
        </dd>
        <dt class="col-sm-2">
            Shift End Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftEndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ScheduleID" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
